body {
    font-family: "Verdana";
}

#app {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.box {
    width: 600px;
    margin-bottom: 1px;
    text-align: center;
    font-family: "Verdana";
    border: 2px solid #b5b5b5;
}

.bar {
    fill: steelblue;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.minus-fade-out-enter {
    background-color: #fcdede;
    opacity: 0.01;
}

.minus-fade-out-enter.minus-fade-out-enter-active {
    opacity: 1;
    transition: background-color .8s linear;
    transition: opacity 500ms ease-in;
}

.minus-fade-out-leave {
    display: none;
    opacity: 1;
}

.minus-fade-out-leave.minus-fade-out-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.plus-fade-out-enter {
    background-color: #c2f2c2;
    opacity: 0.01;
}

.plus-fade-out-enter.plus-fade-out-enter-active {
    opacity: 1;
    transition: background-color .8s linear;
    transition: opacity 500ms ease-in;
}

.plus-fade-out-leave {
    display: none;
    opacity: 1;
}

.plus-fade-out-leave.plus-fade-out-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}